<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="./vendor/bootstrap/bootstrap-grid.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <title>Juan José González - jujogi</title>
    <style>
      *{
        margin: 0;
        padding: 0;
      }
      body{
        font-family: 'Lato', sans-serif;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">

      <router-view :key="$route.fullPath"></router-view>


    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
