<template>
  <div>
    <HeaderFamous :person="famous" />

    <main>
      <div class="container">
        <div class="alert alert--padding mt--3">
          <p class="paragraph">
            Integer non fringilla ligula, quis aliquet ligula.
            <strong>Donec ligula velit</strong>, auctor vitae mattis sed, dictum vitae erat. Sed at elit a lacus luctus laoreet in sed augue. In ornare iaculis orci id volutpat. Vivamus ac leo ut lacus
            <strong>varius rutrum</strong>.
          </p>
        </div>

        <section class="comments mt--3">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="comment">
                <div class="comment__title">
                  <h2 class="text__green">Top Comment</h2>
                  <img src="../images/up.png" />
                </div>

                <div class="comment__content">
                  <p>Curabitur et fermentum nunc. Aliquam quis turpis neque. Fusce et tincidunt ante. Nulla sem tortor, pulvinar in sodales vitae, sollicitudin at enim. Vivamus vel nisi lorem. Fusce posuere turpis ac leo tempus, et feugiat nunc eleifend. Pellentesque volutpat egestas ante.</p>
                  <p class="mt--2">
                    by
                    <strong>Jack</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="comment">
                <div class="comment__title">
                  <h2 class="text__pink">Top Karmic Consequence</h2>
                  <img src="../images/down.png" />
                </div>

                <div class="comment__content">
                  <p>Nulla sem tortor, pulvinar in sodales vitae, sollicitudin at enim. Vivamus vel nisi lorem. Fusce posuere turpis ac leo tempus, et feugiat nunc eleifend. Pellentesque volutpat egestas ante.</p>
                  <p class="mt--2">
                    by
                    <strong>Anne</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt--2">
              <div class="comment">
                <div class="comment__title">
                  <h2 class="text__yellow text__light">Runner Up Comment</h2>
                  <img src="../images/up.png" />
                </div>

                <div class="comment__content">
                  <p>Vivamus vel nisi lorem. Fusce posuere turpis ac leo tempus, et feugiat nunc eleifend. Pellentesque volutpat egestas ante.</p>
                  <p class="mt--2">
                    by
                    <strong>Danielle</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt--2">
              <div class="comment">
                <div class="comment__title">
                  <h2 class="text__pink text__light">Runner Up Karmic Consequence</h2>
                  <img src="../images/down.png" />
                </div>

                <div class="comment__content">
                  <p>Nulla sem tortor, pulvinar in sodales vitae, sollicitudin at enim. Vivamus vel nisi lorem. Fusce posuere turpis ac leo tempus, et feugiat nunc eleifend. Pellentesque volutpat egestas ante.</p>
                  <p class="mt--2">
                    by
                    <strong>Jason</strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mt--2">
              <div class="percentage percentage--up">
                <a href="#" class="percentage__share">
                  <img src="../images/share.png" alt="Share this number" />
                </a>
                <div class="percentage__title">
                  <h2 class="text__white text__light">
                    <img src="../images/up.png" />
                    88%
                    <br />Non-Catholic
                  </h2>
                </div>

                <div class="percentage__content">
                  <p class="text__white">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex?
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 mt--2">
              <div class="percentage percentage--down">
                <a href="#" class="percentage__share">
                  <img src="../images/share.png" alt="Share this number" />
                </a>
                <div class="percentage__title">
                  <h2 class="text__white text__light">
                    <img src="../images/down.png" />
                    78%
                    <br />Very Conservative
                  </h2>
                </div>

                <div class="percentage__content">
                  <p class="text__white">
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="votation mt--3">
          <h2 class="title">Past Trials</h2>

          <div class="famous famous--three mt--3" v-if="persons.length > 0">
            <Famous
              v-for="person in excludeSelectedFamous"
              :key="person.id"
              :famous="person"
              :canVote="false"
            />
          </div>
          <p class="subtitle" v-else>
            There are no records in
            <span class="text__green">{{category}}</span> category.
          </p>

          <router-link class="btn mt--2" to="/past-trials/all" tag="a">See all</router-link>
        </section>
      </div>
    </main>

    <Footer />
  </div>
</template>
<script>
import HeaderFamous from "../components/Header/Famous.vue";
import Famous from "../components/Famous.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "Trials",
  props: ["id"],
  components: {
    HeaderFamous,
    Famous,
    Footer
  },
  data() {
    return {
      famous: this.$store.getters.getFamous.find(
        person => person.id == this.id
      ),
      persons: this.$store.getters.getFamous
    };
  },
  computed: {
    excludeSelectedFamous() {
      //console.log(this.persons[])

      return this.persons.filter(person => person.id != this.id);
    }
  }
};
</script>

<style lang="scss">
.alert--padding {
  padding: 50px;
}
.percentage {
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  &--up {
    background: linear-gradient(
      to bottom,
      rgba(250, 179, 74, 1) 0%,
      rgba(250, 179, 74, 1) 11%,
      rgba(78, 177, 167, 1) 11%,
      rgba(37, 97, 92, 1) 100%
    );
  }

  &--down {
    background: linear-gradient(
      to bottom,
      #fab34a 0%,
      #fab34a 72%,
      #4eb1a7 11%,
      #25615c 100%
    );
  }

  &__share {
    img {
      width: 60px;
      position: absolute;
      top: 10px;
      right: 25px;
    }
  }
  &__title {
    text-align: center;
    margin: 15px 0 20px 0;

    h2 {
      font-size: 2em;
      img {
        margin-right: 5px;
      }
    }
  }
  &__content {
    p {
      text-align: center;
      font-size: 1.2em;
      width: 80%;
      margin: 0 auto;
    }
  }
}

.comment {
  background: #ebebeb;
  padding: 20px;

  &__title {
    padding-bottom: 20px;
    border-bottom: dashed 1px #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h2 {
      font-size: 1.65em;
    }

    img {
      width: 30px;
    }
  }
}

@media all and (max-width: 500px) {
  .comments .row {
    & > div {
      &:first-child {
        margin-top: 0;
      }
      margin-top: 25px;
    }
  }
}
</style>