<template>
  <div class="app__wrapper">
    <Header />

    <main>
      <div class="container">
        <div class="alert d-flex align-items-center justify-content-center mt--3" v-if="showAlert">
          <div class="alert__content">
            <span>Speak out. Be heard.</span>
            <span>Be counted</span>
          </div>
          <p>Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a public report.</p>
          <img src="../images/close.png" alt="close" class="alert__close" @click="showAlert=false" />
        </div>
        <section class="votation mt--2">
          <h2 class="title">Votes</h2>

          <div class="famous mt--3">
            <Famous v-for="person in persons" :key="person.id" :famous="person" :canVote="true" />
          </div>
        </section>
      </div>
    </main>

    <Footer />
  </div>
</template>

<script>
import Header from "../components/Header/Home.vue";
import Famous from "../components/Famous.vue";
import Footer from "../components/Footer.vue";

export default {
  name: "Home",
  components: {
    Header,
    Famous,
    Footer
  },
  data() {
    return {
      showAlert: true,
      persons: this.$store.getters.getFamous.filter(famous => famous.id > 0)
    };
  }
};
</script>

<style lang="scss">
.full-width {
  width: 100%;
}
p {
  color: #333333;
}
.paragraph {
  font-size: 1.2em;
}

.full-height {
  height: 100%;
}

.router-link-active {
  font-weight: 700;
  text-decoration: underline;
}

.cta {
  .btn {
    margin: 0 35px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}
.btn {
  display: block;
  margin: 0 auto;
  border: solid 2px #333;
  color: #333;
  text-decoration: none;
  padding: 8px 40px;
  text-align: center;
  width: fit-content;
}

.mt {
  &--1 {
    margin-top: 1em;
  }
  &--2 {
    margin-top: 2em;
  }
  &--3 {
    margin-top: 2.5em;
  }
  &--5 {
    margin-top: 5em;
  }
  &--10 {
    margin-top: 10em;
  }
}
.text {
  &__white {
    color: #fff;
  }
  &__green {
    color: #1cbbb4;
  }
  &__gray {
    color: #333333;
  }
  &__pink {
    color: #ca6fc3;
  }
  &__yellow {
    color: #ffad1d;
  }

  &__light {
    font-weight: 300;
  }
  &__center {
    text-align: center;
  }
}

.show {
  display: flex !important;
}

.title {
  font-weight: 300;
  font-size: 2em;
}

p.subtitle {
  font-size: 1.2em;
  margin-top: 30px;
  color: #333;
}

.famous {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 45px;
  grid-auto-rows: 550px;

  &--three {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 25px;
    grid-auto-rows: 390px;

    .famous__content {
      left: 40px;
      bottom: 85px;

      .famous__indicator img {
        width: 70%;
      }
    }
    .famous__feedback > div {
      padding: 10px;
      color: #fff;
      font-size: 0.8em;
    }
  }
}

.alert {
  background: #ebebeb;
  padding: 20px 50px;
  position: relative;

  &__close {
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
  }
  &__content {
    &:nth-child(1) {
      width: 36%;
    }
    &:nth-child(2) {
      width: 60%;

      p {
        font-weight: 300;
      }
    }
    span {
      display: block;
      color: #333333;

      &:nth-child(1) {
        font-weight: 300;
        font-size: 1.3em;
        line-height: 1em;
      }
      &:nth-child(2) {
        font-weight: bold;
        font-size: 2.3em;
      }
    }
  }
}

#burger-icon {
  width: 40px;
  height: 31px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  margin-right: 15px;
  cursor: pointer;
  display: none;
  transform: scale(0.8);

  @media all and (max-width: 768px) {
    display: block;
  }
}

#burger-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#burger-icon span:nth-child(1) {
  top: 0px;
}

#burger-icon span:nth-child(2),
#burger-icon span:nth-child(3) {
  top: 12px;
}

#burger-icon span:nth-child(4) {
  top: 24px;
}

#burger-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#burger-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#burger-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#burger-icon.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.header {
  height: 680px;
  position: relative;
  overflow: hidden;
  padding-top: 30px;

  &--famous {
    .up__percentage {
      background: rgb(28, 187, 180);
    }
    .down__percentage {
      background: rgb(255, 173, 29);
    }
  }

  &--trials {
    height: 100px !important;
    overflow: visible;

    &:before {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.75) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ) !important;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.63) 7%,
      rgba(9, 9, 9, 0.63) 8%,
      rgba(255, 255, 255, 0) 34%
    );
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 20;
  }

  &__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.vote {
  width: 38%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.69);

  &--works {
    .vote__subtitle {
      font-size: 1.5em;
    }

    .be-counted {
      margin-top: 20px;
      text-align: center;
      line-height: 2em;

      span {
        display: block;
        color: #fff;

        &:nth-child(1) {
          font-size: 1.5em;
        }
        &:nth-child(2) {
          font-size: 2.6em;
          font-weight: 700;
        }
      }
    }
  }

  &__result {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;

    img {
      width: 45px;
    }
    p {
      font-size: 1.6em;
      color: #fff;
      width: 60%;
    }
  }

  &__blur {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
  }
  &__container {
    padding: 25px;
    position: relative;
    z-index: 1;
  }

  &__action {
    height: 70px;
    position: relative;
    z-index: 1;

    .votes {
      width: 100%;
      height: 100%;

      & > div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          width: 35px;
        }
      }
    }
  }

  &__up {
    background: #1cbbb4;
  }

  &__down {
    background: #ffad1d;
  }

  &__title {
    margin: 0;
    font-size: 2.4em;
  }
  &__subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 0.9em;
  }
  &__paragraph {
    line-height: 1.4em;
    font-size: 1.05em;
    margin: 20px 0 10px 0;
    &--bold {
      font-weight: bold;
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    img {
      width: 18px;
    }
    a {
      color: #fff;
      font-size: 0.8em;
      margin-left: 5px;
    }
  }
}
.navigation {
  a {
    text-decoration: none;
  }
  h1 {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    line-height: 1.2em;
    letter-spacing: 1px;
  }

  .sub__menu {
    opacity: 0;
    position: absolute;
    transition: opacity 0.25s ease-in-out;
    list-style: none;
    left: -9%;
    margin-top: 10px;
    z-index: 10;

    &::before {
      content: "";
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid rgba(0, 0, 0, 0.555);
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }

    li {
      background: rgba(0, 0, 0, 0.75);
      padding: 15px 20px !important;
      transition: background 0.25s ease-in-out;
      text-align: center;

      &:hover {
        background: #000;
      }
    }
  }

  .menu__item {
    &--parent {
      cursor: pointer;
      position: relative;

      &:hover {
        .sub__menu {
          opacity: 1;
          transition: opacity 0.25s ease-in-out;
        }
      }
    }
  }
  &__menu {
    list-style: none;

    li {
      padding: 0 20px;
      color: #fff;
      font-weight: 300;
      cursor: pointer;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media all and (min-width: 1800px) {
  .header {
    height: 755px;
  }

  .vote {
    width: 50%;
  }
}

@media all and (max-width: 1200px) {
  .alert p {
    width: 80%;
  }
}

@media all and (max-width: 998px) {
  .famous {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: 415px;
  }

  .vote {
    width: 60%;
  }

  .alert__content:nth-child(1) {
    font-size: 0.9em;
  }
}

@media all and (max-width: 768px) {
  .alert {
    flex-direction: column;
    padding: 20px;
    font-size: 0.95em;

    &__close {
      top: 25px;
      transform: none;
      right: 20px;
    }

    &__content {
      margin-bottom: 5px;
    }
    p {
      width: 100%;
    }

    & > div {
      width: 100% !important;
    }
  }

  .famous {
    &__content {
      bottom: 70px;
    }
  }

  .header {
    height: 560px;
    &--famous {
      height: auto;
      padding-bottom: 100px;
    }
  }

  .navigation__menu {
    display: block !important;
    width: 75%;
    position: fixed;
    background: #1d1a1a;
    padding: 30px !important;
    top: 0;
    left: -800px;
    z-index: 5;
    height: 100%;

    &.open {
      opacity: 0;
      animation: slideToLeft 0.25s linear 0s forwards;

      @keyframes slideToLeft {
        from {
          opacity: 0;
          left: -800px;
        }
        to {
          opacity: 1;
          left: 0;
        }
      }
    }

    li {
      padding: 0;
      margin-bottom: 20px;
    }

    .sub__menu {
      position: static;
      opacity: 1;

      &::before {
        content: none;
      }

      li {
        background: transparent;
        text-align: left;
        margin: 0;
        padding: 10px !important;
        margin-left: 10px;
        font-size: 0.9em;
      }
    }
  }

  .vote {
    position: static;
    transform: none;
    margin-top: 18%;
    width: 90%;
    font-size: 0.85em;
  }
}

@media all and (max-width: 500px) {
  .alert {
    font-size: 0.9em;
    padding: 20px !important;
  }

  .header {
    height: 495px;

    &--famous {
      height: auto;

      .famous__feedback--header {
        font-size: 0.9em;
        height: 60px;
      }

      .vote__result {
        padding: 10px;
        img {
          width: 35px;
        }
        p {
          width: 65%;
          font-size: 1.2em;
        }
      }
    }
  }
}
</style>