<template>
  <div class="login">
    <img src="../images/close-white.svg" alt="Close" class="login__close" @click="closeLogin" />

    <form class="form mt--5" v-on:submit.prevent="submitForm">
      <h2 class="title text__white">Login</h2>
      <input type="text" class="form__input mt--2" placeholder="Username or Email" />
      <input type="password" class="form__input" placeholder="Password" />

      <div class="d-flex full-width justify-content-between align-items-center mt--1">
        <input type="submit" value="Sign In" class="form__submit" />
        <a href="#/login" class="form__forgot">Forgot your password?</a>
      </div>

      <a href="#/login" class="form__create mt--3">
        Don’t have an account?
        <u>Join us now!</u>
      </a>
    </form>
  </div>
</template>
<script>
export default {
  name: "Login",
  data() {
    return {
      lastSectionVisited: true
    };
  },
  methods: {
    closeLogin() {
      this.$router.push(this.lastSectionVisited);
    },
    submitForm() {
      console.log("Submiting Form...");
    }
  },
  //Get previuos section after open login page
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.lastSectionVisited = from.path;
    });
  }
};
</script>
<style lang="scss">
.login {
  height: 100vh;
  background: #262626;
  display: flex;
  justify-content: center;
  position: relative;

  &__close {
    width: 25px;
    position: absolute;
    right: 20%;
    top: 5%;
    cursor: pointer;
  }
}

.form {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;

  a {
    color: #fff;
  }

  h2 {
    align-self: flex-start;
  }

  &__create {
    width: 100%;
    background: #ebebeb;
    color: #313131 !important;
    padding: 15px 25px;
    text-align: center;
    font-size: 1.1em;
    text-decoration: none;
  }

  &__submit {
    background: #202020;
    color: #fff;
    border: solid 2px #fff;
    font-weight: bold;
    padding: 15px 25px;
    width: 48%;
    font-size: 1em;
    -webkit-appearance: none;
    border-radius: 0;
  }

  &__input {
    background: #aaaaaa;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    font-weight: 300;
    color: #fff;
    margin-bottom: 15px;
    font-style: italic;
    -webkit-appearance: none;
    border-radius: 0;

    &::placeholder {
      color: #fff;
    }
  }
}

@media all and (max-width: 1140px) {
  .form {
    width: 45%;
  }
}

@media all and (max-width: 768px) {
  .form {
    width: 65%;
  }

  .login__close {
    right: 5%;
  }
}

@media all and (max-width: 500px) {
  .form {
    width: 90%;

    .d-flex {
      flex-direction: column;
      & > * {
        width: 100%;
        text-align: center;
      }

      a {
        margin-top: 20px;
      }
    }
  }
}
</style>