<template>
  <div>
    <header class="header header--trials">
      <div class="container">
        <Navigation />
      </div>
    </header>

    <main>
      <div class="container">
        <section class="votation mt--3">
          <h2 class="title text__green toUppercase">{{category}}</h2>

          <div class="famous famous--three mt--3" v-if="getFamous.length > 0">
            <Famous v-for="person in getFamous" :key="person.id" :famous="person" :canVote="false" />
          </div>
          <p class="subtitle" v-else>
            There are no records in
            <span class="text__green">{{category}}</span> category.
          </p>
        </section>
      </div>
    </main>

    <Footer />
  </div>
</template>
<script>
import Navigation from "../components/Navigation.vue";
import Footer from "../components/Footer.vue";
import Famous from "../components/Famous.vue";

export default {
  name: "Trials",
  props: ["category"],
  components: {
    Navigation,
    Footer,
    Famous
  },
  data() {
    return {
      persons: this.$store.getters.getFamous
    };
  },
  computed: {
    getFamous() {
      console.log(this.category);
      if (this.category == "all") {
        return this.persons;
      } else {
        return this.persons.filter(famous => famous.category == this.category);
      }
    }
  }
};
</script>
<style lang="scss">
.toUppercase {
  text-transform: capitalize;
}
</style>