<template>
  <div>
    <Header />

    <main>
      <div class="container">
        <section class="works mt--3">
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature">
                <div class="feature__image feature__image--white">
                  <img src="../images/like-comment.png" alt class="image__description" />
                  <img src="../images/feature-1.jpg" alt class="image__background" />
                </div>
                <div class="feature__content">
                  <h2>Vote and speak out</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature">
                <div class="feature__image feature__image--gradient">
                  <h3 class="image__text">
                    75
                    <span>%</span>
                  </h3>
                  <img src="../images/feature-2.jpg" alt class="image__background" />
                </div>
                <div class="feature__content">
                  <h2>See reports</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
              <div class="feature">
                <div class="feature__image feature__image--white">
                  <img
                    src="../images/share-feature.png"
                    alt
                    class="image__description image__description--small"
                  />
                  <img src="../images/feature-3.jpg" alt class="image__background" />
                </div>
                <div class="feature__content">
                  <h2>Share with friends</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="cta mt--3">
          <h2 class="title text__center text__gray">What do you want to do now?</h2>

          <div class="d-flex align-items-center justify-content-center mt--2">
            <router-link class="btn mt--2" to="/login" tag="a">Sign Up Now</router-link>

            <router-link class="btn mt--2" to="/past-trials/all" tag="a">See Past Trials</router-link>
          </div>
        </section>
        <Footer class="mt--5" />
      </div>
    </main>
  </div>
</template>
<script>
import Header from "../components/Header/Works.vue";
import Footer from "../components/Footer.vue";
export default {
  components: {
    Header,
    Footer
  }
};
</script>
<style lang="scss">
.works {
  padding-bottom: 50px;
  border-bottom: dashed 1px rgba(151, 151, 151, 0.26);
}
.feature {
  position: relative;
  overflow: hidden;
  &__content {
    margin-top: 25px;
    text-align: center;

    h2 {
      font-weight: 300;
      color: #4a4a4a;
      margin-bottom: 15px;
    }
    p {
      font-size: 0.95em;
      color: #4a4a4a;
    }
  }
  &__image {
    position: relative;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    &--white {
      &::before {
        background: rgba(130, 130, 130, 0.23);
      }
    }

    &--gradient {
      &::before {
        background: linear-gradient(
          to bottom,
          rgba(255, 172, 29, 1) 0%,
          rgba(255, 172, 29, 0.68) 20%,
          rgba(78, 186, 179, 0.68) 21%,
          rgba(40, 107, 106, 0.84) 100%
        );
      }
    }

    .image {
      &__background {
        width: 110%;
        height: 120%;
        filter: blur(8px);
        position: absolute;
        left: -12px;
        top: -16px;
        object-fit: cover;
      }

      &__description {
        position: relative;
        z-index: 5;
        width: 50%;

        &--small {
          width: 30%;
        }
      }

      &__text {
        z-index: 5;
        color: #fff;
        font-weight: 300;
        font-size: 6em;
        line-height: 0.8em;
        display: flex;
        align-items: baseline;
        justify-content: center;

        span {
          font-size: 0.62em;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .vote--works .be-counted {
    font-size: 1.5em;
    text-align: left;
  }
  .feature__image {
    height: 195px;
  }
}

@media all and (max-width: 500px) {
  .works .row .col-sm-12 {
    margin-bottom: 45px;

    &:last-child {
      margin: 0;
    }
  }
  .vote--works .be-counted {
    font-size: 1em;
    text-align: center;
  }

  .feature__image {
    height: 180px;
  }

  .feature__image .image__description {
    width: 40%;
  }

  .feature__image .image__text {
    font-size: 5em;
  }

  .feature__image .image__description--small {
    width: 26% !important;
  }
}
</style>