<template>
  <header class="header header--famous">
    <div class="container full-height">
      <Navigator />

      <div class="vote">
        <div class="vote__container">
          <h3 class="vote__subtitle text__white">What do People Think About</h3>
          <h2 class="vote__title text__white">{{person.name}}?</h2>

          <p
            class="vote__paragraph text__white"
          >A report created by RULE OF THUMB with opinions submitted by users between August 1 and August 31 of 2014.</p>
        </div>

        <div class="vote__resume">
          <div class="vote__result vote__up" v-if="person.up > person.down">
            <img src="../../images/up.png" alt="Positive votes" />
            <p>{{getFirstNameWord(person.name)}} is rockin’ the thumb! Gotta love it!</p>
          </div>

          <div class="vote__result vote__down" v-else>
            <img src="../../images/down.png" alt="Negative votes" />
            <p>
              {{getFirstNameWord(person.name)}} not rockin’
              <br />the thumb!
              <br />Gotta hate it!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="famous__feedback famous__feedback--header d-flex full-width">
      <div class="up__percentage" :style="{ 'width': calculatePercentageVotes.barUpScale+'%' }">
        <img src="../../images/up.png" alt="Positive votes" />
        <span>{{calculatePercentageVotes.up}}%</span>
      </div>
      <div class="down__percentage" :style="{ 'width': calculatePercentageVotes.barDownScale+'%' }">
        <span>{{calculatePercentageVotes.down}}%</span>
        <img src="../../images/down.png" alt="Negative votes" />
      </div>
    </div>

    <img :src="'../../images/'+person.image" alt class="header__cover" />
  </header>
</template>

<script>
import Navigator from "../Navigation.vue";
export default {
  name: "Header",
  components: {
    Navigator
  },
  props: ["person"],
  data() {
    return {
      votted: false
    };
  },
  computed: {
    calculatePercentageVotes() {
      let positive = this.person.up,
        negative = this.person.down,
        total = positive + negative,
        percentageUp = ((positive / total) * 100).toFixed(0),
        percentageDown = ((negative / total) * 100).toFixed(0);

      //console.log(percentageDown)

      return {
        up: percentageUp < 100 ? percentageUp : 100,
        down: percentageDown > 0 ? percentageDown : 0,
        barUpScale: percentageUp <= 20 ? 20 : percentageUp,
        barDownScale: percentageDown >= 20 ? percentageDown : 20
      };
    }
  },
  methods: {
    //No puede pasar del 100 y menor a 0
    vote(property) {
      //console.log(this.person.up)
      //this.person.up++;
      let obj = {
        sum: property,
        id: this.person.id
      };

      this.$store.dispatch("addScoreToperson", obj);
    },
    getFirstNameWord(str) {
      let tmp = str.split(" ");
      return tmp.length > 1 ? tmp[0] : str;
    }
  }
};
</script>
