<template>
  <header class="header">
    <div class="container full-height">
      <Navigator />

      <div class="vote">
        <div class="vote__container">
          <h3 class="vote__subtitle text__white">What's your opinion on</h3>
          <h2 class="vote__title text__white">{{famous.name}}?</h2>

          <div class="famous__content--paragraph" v-if="!votted">
            <p class="vote__paragraph text__white" v-text="famous.description"></p>

            <div class="vote__cta">
              <img src="../../images/wiki.png" alt="Wikipedia" />
              <a href="https://en.wikipedia.org/wiki/Pope_Francis" target="_blank">More information</a>
            </div>

            <p class="vote__paragraph vote__paragraph--bold text__white">What's Your Verdict?</p>
          </div>

          <p class="vote__paragraph text__white" v-else>Thank you for voting!</p>
        </div>

        <div class="vote__action">
          <div class="votes d-flex" v-if="!votted">
            <div class="up__percentage" @click="vote('up')">
              <img src="../../images/up.png" alt />
            </div>
            <div class="down__percentage" @click="vote('down')">
              <img src="../../images/down.png" alt />
            </div>
          </div>

          <div v-else class="famous__feedback famous__feedback--static d-flex full-width">
            <div
              class="up__percentage"
              :style="{ 'width': calculatePercentageVotes.barUpScale+'%' }"
            >
              <img src="../../images/up.png" alt="Positive votes" />
              <span>{{calculatePercentageVotes.up}}%</span>
            </div>
            <div
              class="down__percentage"
              :style="{ 'width': calculatePercentageVotes.barDownScale+'%' }"
            >
              <span>{{calculatePercentageVotes.down}}%</span>
              <img src="../../images/down.png" alt="Negative votes" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <img src="../../images/pope.jpg" alt class="header__cover" />
    <div class="deadline">
      <div class="deadline__closing">Closing in</div>
      <div class="deadline__days">
        <strong>22</strong> days
      </div>
    </div>
  </header>
</template>

<script>
import Navigator from "../Navigation.vue";
export default {
  name: "Header",
  components: {
    Navigator
  },
  data() {
    return {
      famous: this.$store.getters.getFamousById(0),
      votted: false
    };
  },
  computed: {
    calculatePercentageVotes() {
      let positive = this.famous.up,
        negative = this.famous.down,
        total = positive + negative,
        percentageUp = ((positive / total) * 100).toFixed(0),
        percentageDown = ((negative / total) * 100).toFixed(0);

      //console.log(percentageDown)

      return {
        up: percentageUp < 100 ? percentageUp : 100,
        down: percentageDown > 0 ? percentageDown : 0,
        barUpScale: percentageUp <= 20 ? 20 : percentageUp,
        barDownScale: percentageDown >= 20 ? percentageDown : 20
      };
    }
  },
  methods: {
    //No puede pasar del 100 y menor a 0
    vote(property) {
      //console.log(this.famous.up)
      //this.famous.up++;
      let obj = {
        sum: property,
        id: this.famous.id
      };

      this.$store.dispatch("addScoreToFamous", obj);
      this.votted = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.deadline {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.28);
  height: 55px;
  display: flex;

  & > div {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  &__closing {
    width: 40%;
    text-transform: uppercase;
    color: #fff;
    justify-content: flex-end;
  }
  &__days {
    color: #464646;
    width: 60%;
    background: #f2f2f2;
    font-size: 2em;
    justify-content: flex-start;
    clip-path: polygon(0% 0%, 0 37%, 1% 53%, 0 67%, 0 100%, 100% 100%, 100% 1%);

    strong {
      margin-right: 5px;
    }
  }
}

@media all and (max-width: 768px) {
  .header {
    height: 600px;
  }
}

@media all and (max-width: 500px) {
  .deadline {
    font-size: 0.9em;
    height: 48px;

    &__days {
      clip-path: polygon(
        0% 0%,
        0 40%,
        4% 53%,
        0 67%,
        0 100%,
        100% 100%,
        100% 1%
      );
    }
  }
}
</style>