<template>
  <header class="header header--famous">
    <div class="container full-height">
      <Navigator />

      <div class="vote vote--works">
        <div class="vote__container">
          <h2 class="vote__subtitle text__white">How It Works</h2>

          <div class="be-counted">
            <span>Speak out. Be heard.</span>
            <span>Be counted</span>
          </div>

          <p
            class="vote__paragraph text__white"
          >Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely.</p>

          <p class="vote__paragraph text__white">
            It’s easy: You share your opinion, we analyse and
            put the data in a public report.
          </p>
        </div>
      </div>
    </div>

    <img src="../../images/works.jpg" alt class="header__cover" />
  </header>
</template>

<script>
import Navigator from "../Navigation.vue";
export default {
  name: "Header",
  components: {
    Navigator
  }
};
</script>
