<template>
  <div class="famous__item">
    <div class="famous__content">
      <div
        class="famous__indicator d-flex align-items-center justify-content-center"
        :class="whoIsWinning.class"
      >
        <img :src="whoIsWinning.image" alt />
      </div>

      <h2 class="famous__title text__white" v-text="famous.name"></h2>
      <p class="famous__time text__white" v-show="canVote">1 month ago in {{famous.category}}</p>

      <div v-if="!votted && canVote">
        <p class="famous__paragraph text__white" v-text="famous.description"></p>

        <div class="famous__actions d-flex">
          <div class="famous__vote famous__vote--up" @click="vote('up');votted=true">
            <img src="../images/up.png" alt="Up vote!" />
          </div>
          <div class="famous__vote famous__vote--down" @click="vote('down');votted=true">
            <img src="../images/down.png" alt="Down vote!" />
          </div>
          <router-link
            :to="'/famous/'+famous.id"
            tag="div"
            class="famous__votenow famous__votenow--cursor"
          >View Full Report</router-link>
        </div>
      </div>
      <router-link
        v-else-if="!canVote"
        :to="'/famous/'+famous.id"
        tag="div"
        class="famous__votenow famous__votenow--cursor famous__votenow--report"
      >View Full Report</router-link>
      <div v-else>
        <p class="famous__paragraph text__white">Thank you for voting!</p>

        <div class="famous__actions d-flex">
          <div class="famous__votenow famous__votenow--cursor" @click="votted=false">Vote again</div>
        </div>
      </div>
    </div>

    <div class="famous__feedback d-flex full-width">
      <div class="up__percentage" :style="{ 'width': calculatePercentageVotes.barUpScale+'%' }">
        <img src="../images/up.png" alt="Positive votes" />
        <span>{{calculatePercentageVotes.up}}%</span>
      </div>
      <div class="down__percentage" :style="{ 'width': calculatePercentageVotes.barDownScale+'%' }">
        <span>{{calculatePercentageVotes.down}}%</span>
        <img src="../images/down.png" alt="Negative votes" />
      </div>
    </div>
    <img :src="renderFamousImage" :alt="famous.name" class="famous__image" />
    {{whoIsWinning}}
  </div>
</template>
<script>
export default {
  name: "Famous",
  props: ["famous", "canVote"],
  data() {
    return {
      votted: false
    };
  },
  computed: {
    calculatePercentageVotes() {
      let positive = this.famous.up,
        negative = this.famous.down,
        total = positive + negative,
        percentageUp = ((positive / total) * 100).toFixed(0),
        percentageDown = ((negative / total) * 100).toFixed(0);

      return {
        up: percentageUp < 100 ? percentageUp : 100,
        down: percentageDown > 0 ? percentageDown : 0,
        barUpScale: percentageUp <= 20 ? 25 : percentageUp,
        barDownScale: percentageDown >= 20 ? percentageDown : 25
      };
    },
    renderFamousImage() {
      return `../images/${this.famous.image}`;
    },
    whoIsWinning() {
      let score = this.calculatePercentageVotes;
      let feedback = {};

      if (score.up > score.down) {
        feedback.image = "../images/up.png";
        feedback.class = "famous__vote--up";
      } else {
        feedback.image = "../images/down.png";
        feedback.class = "famous__vote--down";
      }
      return feedback;
    }
  },

  methods: {
    vote(property) {
      let obj = {
        sum: property,
        id: this.famous.id
      };

      this.$store.dispatch("addScoreToFamous", obj);
    }
  }
};
</script>

<style lang="scss">
.famous {
  &__indicator {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -40px;
    top: 5px;

    img {
      width: 80%;
    }
  }
  &__votenow {
    height: 40px;
    background: transparent;
    border: solid 1px #fff;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    &--cursor {
      cursor: pointer;
    }
    &--report {
      width: fit-content;
      margin-top: 15px;
    }
  }
  &__vote {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    position: relative;

    transition: color 0.25s;

    &::before,
    &::after {
      box-sizing: inherit;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &::before,
    &::after {
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }
    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      bottom: 0;
      right: 0;
    }

    &:hover {
      color: #fff;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }

    &:hover::before {
      border-top-color: #fff;
      border-right-color: #fff;
      transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
    }

    &:hover::after {
      border-bottom-color: #fff;
      border-left-color: #fff;
      transition: border-color 0s ease-out 0.2s, width 0.1s ease-out 0.2s,
        height 0.1s ease-out 0.3s;
    }

    img {
      width: 70%;
    }

    &--up {
      background: #1cbbb4;
    }
    &--down {
      background: #ffad1d;
    }
  }

  &__title {
    font-size: 2em;
    line-height: 1em;
  }
  &__time {
    font-size: 0.8em;
    margin: 2px 0 10px 0;
  }
  &__actions {
    margin-top: 25px;
    align-items: center;
  }
  &__item {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(112, 112, 112, 0) 35%,
        rgba(0, 0, 0, 1) 100%
      );
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  &__content {
    position: absolute;
    bottom: 100px;
    width: 75%;
    left: 40px;
  }

  &__feedback {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    z-index: 10;

    &--header {
      font-size: 2em;
      height: 80px;

      .up__percentage {
        justify-content: flex-end !important;
      }
      .down__percentage {
        justify-content: flex-start !important;
      }
    }

    &--static {
      position: static;
      height: 100%;

      img {
        width: 30px;
      }

      span {
        font-size: 1.2em;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      padding: 15px;
      color: #fff;
      transition: all 0.3s ease;

      span {
        font-size: 1.3em;
        font-weight: 300;
      }

      img {
        width: 25px;
      }
    }

    .up__percentage {
      justify-content: flex-start;
      img {
        margin-right: 5px;
      }
    }

    .down__percentage {
      justify-content: flex-end;
      img {
        margin-left: 5px;
      }
    }
  }
}

.up__percentage {
  background: rgba(28, 187, 180, 0.7);
}
.down__percentage {
  background: rgba(255, 173, 29, 0.7);
}

@media all and (max-width: 768px) {
  .famous {
    &--three {
      .famous__feedback > div {
        font-size: initial;

        span {
          font-size: 1.2em !important;
        }
      }
    }
    &__content {
      font-size: 0.9em;
    }
    &__feedback {
      & > div {
        padding: 15px 8px !important;

        span {
          font-size: 0.95em !important;
          display: block;
          margin-top: 2px !important;
        }
      }
    }

    .famous__indicator img {
      width: 65%;
    }
  }
}

@media all and (max-width: 500px) {
  .famous {
    grid-auto-rows: 365px !important;

    &--three {
      .famous__feedback div span {
        font-size: 1.18em !important;
      }
    }
  }
}
</style>