<template>
  <footer class="mt--2">
    <div class="container">
      <div class="submit d-flex">
        <h2>Is there anyone else you would want us to add?</h2>
        <a href="#">Submit a Name</a>
        <img src="../images/want-to-add.jpg" alt="Is there anyone else you would want us to add?" />
      </div>

      <div class="separator mt--3"></div>

      <div class="navigation__footer d-flex mt--2">
        <ul class="menu__links d-flex">
          <li>
            <a href="#">Terms and Conditions</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>

        <ul class="menu__links d-flex align-items-center">
          <li>Follow Us</li>
          <li class="menu__social">
            <a href="https://www.facebook.com/">
              <img src="../images/facebook.svg" />
            </a>
          </li>
          <li class="menu__social">
            <a href="https://www.twitter.com/">
              <img src="../images/twitter.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "HelloWorld"
};
</script>

<style lang="scss">
.navigation {
  &__footer {
    align-items: center;
    justify-content: space-between;
    padding: 0 0 45px 0;
  }
}
.menu__links {
  list-style: none;
  li {
    padding: 0 10px;
    font-size: 0.8em;
    color: #333333;

    &.menu__social {
      img {
        width: 20px;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.submit {
  height: 95px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }

  h2 {
    font-weight: 300;
    font-size: 1.65em;
    color: #333333;
    z-index: 4;
  }

  a {
    border: solid 2px #333333;
    padding: 15px 25px;
    box-sizing: border-box;
    text-decoration: none;
    color: #333333;
    font-size: 1.2em;
    z-index: 4;
    text-align: center;

    transition: all 0.2s ease-in;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.separator {
  width: 100%;
  border: dashed 1px #97979742;
}

@media all and (max-width: 768px) {
  .submit {
    flex-direction: column;
    height: auto;
    font-size: 0.8em;
    padding: 10px 15px;

    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

@media all and (max-width: 500px) {
  .navigation__footer {
    flex-direction: column;

    .menu__links {
      &:last-child {
        margin-top: 20px;
      }
    }
  }
}
</style>
