<template>
  <nav class="navigation d-flex full-width align-items-center justify-content-between">
    <router-link to="/" tag="a">
      <h1>Rule of Thumb.</h1>
    </router-link>

    <ul class="navigation__menu d-flex" :class="{open: openMenu == true}">
      <li class="menu__item menu__item--parent" :class="{'router-link-active': currentRoute == 'Trials'}">
        Past Trials
        <ul class="sub__menu">
          <router-link to="/past-trials/all" tag="li" class="menu__item">All</router-link>
          <router-link to="/past-trials/politics" tag="li" class="menu__item">Politics</router-link>
          <router-link to="/past-trials/business" tag="li" class="menu__item">Business</router-link>
          <router-link to="/past-trials/sports" tag="li" class="menu__item">Sports</router-link>
          <router-link to="/past-trials/entertainment" tag="li" class="menu__item">Entertainment</router-link>
        </ul>
      </li>
      <router-link to="/how-it-works" tag="li" class="menu__item">How It Works</router-link>
      <li class="menu__item"><router-link to="/login">Log In</router-link> / Sign Up</li>
      <li class="menu__item menu__item--search"><img src="../images/search.svg"></li>
    </ul>

    <div id="burger-icon" @click="openMenu=!openMenu" :class="{open: openMenu == true}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

  </nav>
</template>
<script>
export default {
  name: "Navigator",
    data() {
    return {
      openMenu: false
    };
  },
  computed: {
    currentRoute(){
      return this.$route.name
    }
  }
}
</script>
<style lang="scss">
.menu{
  &__item{

    a{
      color: #FFF;
    }
    &--search{
      img{
        width: 20px;
      }
    }
  }
}
</style>